# Test Report

## Summary

65 test cases executed.

## Results

Passed: 65
Failed: 0
Blocked: 0

## Coverage

- Registration: 20
- Login: 14
- Logout: 1
- Search: 15
- Product: 9
- Cart: 6

## Testing Types

- Functional
- UI
- Positive/Negative
 -Boundary Value
- Responsive

## Defects
0 defects discovered

## Conclusion

...
